<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Kick Start Main</title>
    <link href='style.css' rel='stylesheet' type='text/css' />
    <link href='main.css' rel='stylesheet' type='text/css' />

    <style>
        @media screen and (max-width: 800px) {

            #bannerDiv {
                height: 8vh;
                width: auto;
            }

            #bannerDiv h1 {
                font-size: 20px;
                top: 0px;
            }

            #navDiv {
                position: fixed;
                flex-direction: column;
                width: 100%;
                top: 8vh;
                left: 0px;
                height: 25vh;
                background-color: #003E6B;
                align-items: center;
            }

            #contentDiv {
                top: 33vh;
                display: block;
                height: 67vh;
            }

            #navDiv input {
                margin: 8px;
                font-size: 24px;
            }

            #profileCard {
                top: 30px;
                left: 0px;
                right: 0px;
                position: relative;
                margin: auto;
                width: 90vw;
                margin-bottom: 30px;
            }

            #eventsPart {
                top: 30px;
                left: 0px;
                right: 0px;
                position: relative;
                margin: auto;
                width: 90vw;
                overflow-y: visible;
            }

        }
    </style>
</head>

<body>
    {{> navigation}}
    {{err}}
    <div id="contentDiv">
        <div id="userContent">
            <div id="profileCard">
                <img src="partials/12.png" alt="Profile Picture"
                    style="border-radius: 50%; width: 19%; margin-top: 9%;">
                <div id="userDesc">
                    <h1 style="font-size: 37px">{{username}}</h1>
                    <p id="userEmail">{{userEmail}}</p>
                    <p id="userID">{{userID}}</p>
                </div>

            </div>

            <div id="current">
                {{{ current }}}
            </div>

        </div>

</body>

<script>
    const sendQuit = (id) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:3000/main/quit', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: id
        }));
    }

    const fetchRegisteredEvent = (eventId) => {
        window.location.replace(window.location.origin + "/events/" + eventId);
    }

</script>

</html>